.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

@media (min-width: 768px) {
  .form-row {
    flex-direction: row;
    
    mat-form-field {
      flex: 1;
    }
  }
} 