.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
}

.date-time-container {
  display: flex;
  gap: 15px;
  
  .date-field {
    flex: 3;
  }
  
  .time-field {
    flex: 2;
  }
}

@media (min-width: 768px) {
  .form-row {
    flex-direction: row;
    
    mat-form-field {
      flex: 1;
    }
  }
  
  .date-time-container {
    align-items: center;
  }
}