.spacer {
  flex: 1 1 auto;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex-grow: 1;
}

h1 {
  margin-top: 30px;
  color: #3f51b5;
} 